<div id="vp">

  <p id="titre">Découvre le bijou parfait en moins de 5 min grâce à Silya</p>
  <hr class="hr-coral">
  <p id="sous-titre">
    Complète ton profil avec ta <u>morphologie</u> et tes <u>préférences de style</u> et laisse notre assistante intelligente <b>Silya</b> te proposer une sélection de bijoux parfaits pour toi !
  </p>
  <p id="vp-button">
    <a routerLink="/silya/reglage"><button class="btn btn-lg btn-warning">Commencer l'expérience</button></a>
  </p>

</div>

<hr style="width: 60%; margin: 50px auto 5px">
<div class="section-titre">Qui est Silya ?</div>
<hr style="width: 40%; margin: 5px auto 30px">

<div class="row" style="margin-top: 50px">

  <div class="col-6"><img src="assets/Silya_illu.png"></div>
  <div class="align-center col-6">
    <div>
    <p class="titre-silya">Silya est une intelligence artificielle spécialement conçue pour la bijouterie.</p>
    <div class="content-silya">Silya propose à ses clientes les bijoux qui leur correspondent le mieux selon :
      <ul class="list-silya">
        <li><u>Leur morphologie</u> : taille, couleur de peau, couleur des yeux, forme du visage, longueur du cou, etc.</li>
        <li><u>Leur tenue</u> : couleur de la tenue, type de col, etc.</li>
        <li><u>L'occasion pour le bijou</u> : soirée, au quotidien ou travail.</li>
      </ul>
    </div>
    <p style="text-align: center; margin: 30px;">
      <a routerLink="/silya/reglage"><button class="btn btn-lg btn-outline-warning">Essayer Silya !</button></a>
    </p>
    </div>
  </div>

</div>

<div class="row" style="margin: 100px 0">

  <div class="align-center col-6">
    <div>
    <p class="titre-silya">Silya nous aide aussi à classer automatiquement les bijoux.</p>
    <div class="content-silya">Silya est capable de reconnaître par elle-même :
      <ul class="list-silya">
        <li><u>Le style</u> des bijoux tels que les styles : simple, classique, moderne, rock, bohême, etc.</li>
        <li><u>Les couleurs</u> des bijoux: couleur du métal, couleur des pierres, etc.</li>
        <li><u>La taille</u> des bijoux et <u>l'occasion idéale</u> pour chaque bijou : soirée, au quotidien ou travail.</li>
      </ul>
      Grâce à Silya, de nombreux filtres exclusifs sont disponibles dans notre bijouterie.
    </div>
    <p style="text-align: center; margin: 30px;">
      <a routerLink="/bijouterie"><button class="btn btn-lg btn-outline-success" style="margin-right: 25px">Découvrir la bijouterie</button></a>
      <a routerLink="/silya/reglage"><button class="btn btn-lg btn-outline-warning">Essayer Silya !</button></a>
    </p>
    </div>
  </div>
  <div class="col-6"><img src="assets/Silya_illu2.png"></div>

</div>
