#vp {
  background: url("/assets/back_silya.png") bottom;
  background-size: cover;
  padding: 80px 12% 50px;
}

#titre {
  font-size: 33px;
  font-weight: bold;
  text-align: center;
}

#titre2 {
  font-size: 29px;
  font-weight: bold;
  text-align: left
}

.hr-coral {
  width: 80%;
  border-color: coral;
  margin: 30px auto 35px;
}

#sous-titre {
  font-size: 22px;
  text-align: center;
}

#vp-button {
  text-align: center;
  margin: 40px 0 20px;
}

.titre-silya {
  font-size: 25px;
  font-weight: bold;
}

.content-silya {
  margin-top: 40px;
  font-size: 20px;
}

.list-silya {
  margin-top: 20px;
  font-size: 19px;
}

.list-silya li {
  list-style: none;
}

.list-silya li:before {
  font-family: 'FontAwesome';
  content: '\f068';
  margin:0 10px 0 -25px;
  color: coral;
  font-size: 17px;
}
