.question-titre {
  text-align: center;
  font-size: 24px;
  color: coral;
}

.selector-elm {
  cursor: pointer;
  position: relative;
  margin-bottom: 40px;
}

.selector-selected .selector-img:before {
  font-family: 'FontAwesome';
  content: '\f00c';
  position: absolute;
  right: 25px;
  top: 13px;
  border: 2px solid white;
  color: white;
  background-color: coral;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  text-align: center;
}

.selector-img {
  border: solid 1px #c9c9c9;
  border-radius: 50%;
  padding: 20px;
  margin: 0 17px;
}

.selector-elm:hover .selector-img, .selector-selected .selector-img {
  border-color: coral;
}

.selector-img img {
  position: relative;
  top: -8px;
}

.selector-titre {
  font-size: 18px;
  text-align: center;
}
