<div class="question-titre">{{titre}}</div>
<hr style="width: 30%; margin: 5px auto 30px">

<div class="align-center">
  <div class="selector-elm" *ngFor="let elm of selectors"
       (click)="change(elm.key)" [ngClass]="{'selector-selected': selected == elm.key}">
    <div class="selector-img">
      <img class="drop-shadow" src="assets/icon/selector_{{key}}_{{elm.key}}.png">
    </div>
    <div class="selector-titre">{{elm.titre}}</div>
  </div>
</div>
