<div *ngIf="selections">
  <div class="selection-div" *ngFor="let selection of selections; let i = index;">
    <p class="selection-nom ">{{selection.nom}}</p>
    <hr style="width: 20%">
    <div class="flex-container">
      <div class="bijou-div " *ngFor="let bijou of selection.bijoux; let j = index;"
           (mouseenter)="hover = 'selection'+i+'_'+j;"
           (mouseleave)="hover = '';">
        <a routerLink="/bijouterie/selection/{{selection.nom}}">
          <div class="card box-shadow box-shadow-hover-plus">

            <app-image [id]="'selection'+i+'_'+j" [image]="bijou.img" [max_hauteur]="200" [hover]="hover"></app-image>

            <hr style="width: 80%; margin-top: 0">
            <div class="bijou-bas">
              <p class="bijou-nom">{{bijou.nom}}</p>

              <div class="row">
                <div class="col-7">
                  <span>{{bijou.marque | truncate:17}}</span>
                  <span class="hidden">{{bijou.id}}</span>
                </div>
                <div class="col-5">
                  <span><b>{{bijou.prix+' €'}}</b></span>
                </div>
              </div>

              <button class="btn" [ngClass]="{'btn-outline-success': j%2 == 0, 'btn-outline-warning': j%2 == 1}"
                      style="margin: 10px auto 0;">Voir la sélection</button>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>


<div class="flex container-fluid" *ngIf="false">
  <!-- loader -->
  <div *ngIf="loading" class="loader" [@fade]="'in'">
    <i class="fa fa-spinner" aria-hidden="true"></i>
  </div>

  <div class="shop-card-container2" *ngFor="let bijou of bijoux[page]; let i = index;" [@fadeJustIn]="'in'"
       (mouseenter)="hover_ratio[i] = 1.1"
       (mouseleave)="hover_ratio[i] = 1">

    <a target="_blank" href="{{bijou.url+'&clickref=BJ'}}"
       (click)="monitorBijou(bijou.id)" (auxclick)="monitorBijou(bijou.id)">
      <div class="card">

        <div class="shop-content shop-content2" style="z-index: 88">
          <div class="shop-img-place card-img-top">
            <img src="{{ bijou.img.url }}"
                 [ngStyle]="{ 'height': bijou.img.height*ratio*hover_ratio[i]+'px',
                                  'margin-top': '-'+bijou.img.decalage*ratio*hover_ratio[i]+'px'}">
          </div>

          <div class="card-block">

            <p class="card-title" style="overflow: hidden">{{bijou.name}}</p>

            <div class="row">
              <div class="col-7">
                <span>{{bijou.marque}}</span>
                <span class="hidden">{{bijou.id}}</span>
              </div>
              <div class="col-5">
                <span>{{bijou.price+' €'}}</span>
              </div>
            </div>

            <div class="row">
              <button class="btn btn-outline-rose" style="margin: 10px auto 0;">Acheter chez {{bijou.source}}</button>
            </div>
          </div>

        </div>
      </div>
    </a>
  </div>
</div>

