.selection-nom{
  font-size: 21px;
  text-align: center;
}

.bijou-div {
  display: inline-block;
  margin: auto;
  text-align: center;
  width: 250px;
}

.bijou-bas {
  background-image: linear-gradient(white, #f5f9fa);
  padding: 0 10px 10px;
}

.bijou-nom{
  max-height: 29px;
  min-height: 29px;
  font-size: 16px;
  overflow: hidden;
  margin-bottom: 5px;
}
