<div class="filtre-container row">

  <div class="col-3">
    <img class="drop-shadow" src="assets/icon/{{img}}">
  </div>

  <div class="col-2 filtre-modifier-container">
    <p class="filtre-modifier-titre">Réglages</p>
    <ul class="filtre-modifier-content">
      <li *ngFor="let elm of reglage">{{ elm.key }} : {{ elm.value }}</li>
      <li *ngIf="suspension">...</li>
    </ul>
    <p class="filtre-modifier-button">
      <a routerLink="/question/{{this.key}}"><button class="btn btn-sm btn-outline-secondary">Modifier</button></a>
    </p>
  </div>

  <div class="col-7 text-container">
    <p class="filtre-titre">
      {{ titre }}
    </p>
    <hr>
    <p class="filtre-content">
      {{ presentation }}
    </p>
    <p *ngIf="!parent.isActif[key]" class="filtre-button">
      <a *ngIf="!activable" routerLink="/silya/question/{{this.key}}"><button class="btn btn-lg btn-outline-warning">Activer ce filtre</button></a>
      <span *ngIf="activable" (click)="parent.activate(key, true)"><button class="btn btn-lg btn-outline-warning">Activer ce filtre</button></span>
    </p>
    <p *ngIf="parent.isActif[key]" class="filtre-button">
      <span (click)="parent.activate(key, false)"><button class="btn btn-lg btn-outline-secondary">Desactiver ce filtre</button></span>
    </p>
  </div>

</div>

<hr style="width: 80%">
