.filtre-container {
  width: 80%;
  margin: auto;
}

.filtre-modifier-container {
  align-self: flex-end;
  padding-top: 15px;
  border: 1px solid #e8e8e8;
  border-radius: 12px;
  font-size: 14px;
}

.filtre-modifier-titre {
  text-align: center;
  font-weight: bold;
}

.filtre-modifier-content li {
  list-style: none;
}

.filtre-modifier-content li:before {
  font-family: 'FontAwesome';
  content: '\f068';
  margin:0 10px 0 -25px;
  color: coral;
  font-size: 12px;
}

.filtre-modifier-button {
  text-align: center;
}

.text-container {
  align-self: flex-end;
  padding-left: 50px;
}

.filtre-titre {
  font-size: 25px;
  font-weight: bold;
}

.filtre-content {
  font-size: 18px;
}

.filtre-button {
  text-align: right;
  margin-top: 30px;
  padding-right: 80px;
}
