<div id="container" class="container-fluid">

  <div class="row">
    <div id="logo-container" class="col-12">
      <a routerLink="/"><img src="/assets/Logo.png"></a>
    </div>
  </div>

  <div class="row">

    <nav id="navbar" class="navbar navbar-toggleable-md navbar-light bg-faded">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" id="navbarDropdownBijoux" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Bijoux
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownBijoux">
              <div class="nav-row row">
                <div class="col-6">
                  <a class="dropdown-header">Par types</a>
                  <a class="dropdown-item" routerLink="/bijouterie/bagues">Bagues</a>
                  <a class="dropdown-item" routerLink="/bijouterie/colliers">Colliers</a>
                  <a class="dropdown-item" routerLink="/bijouterie/boucles_doreilles">Boucles d'oreilles</a>
                  <a class="dropdown-item" routerLink="/bijouterie/bracelets">Bracelets</a>
                  <a class="dropdown-item" routerLink="/bijouterie">Tous les bijoux</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-header">Par prix</a>
                  <a class="dropdown-item" routerLink="/bijouterie/prix/moins_50">Moins de 50€</a>
                  <a class="dropdown-item" routerLink="/bijouterie/prix/moins_100">Moins de 100€</a>
                  <a class="dropdown-item" routerLink="/bijouterie/prix/moins_200">Moins de 200€</a>
                  <a class="dropdown-item" routerLink="/bijouterie">Tous les prix</a>
                </div>
                <div class="col-6">
                  <a class="dropdown-header">Par style</a>
                  <a class="dropdown-item" routerLink="/bijouterie/style/">Style simple</a>
                  <a class="dropdown-item" routerLink="/bijouterie/style/">Style moderne</a>
                  <a class="dropdown-item" routerLink="/bijouterie/style/">Style classique</a>
                  <a class="dropdown-item" routerLink="/bijouterie/style/">Style rock</a>
                  <a class="dropdown-item" routerLink="/bijouterie">Tous les styles</a>
                  <img class="img-nav" src="assets/menu-1.jpg">
                </div>
              </div>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" id="navbarDropdownConseil" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Conseillère intelligente
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownConseil" style="left: -42px; background: url('/assets/texture2.png')">
              <div id="vp-silya" class="nav-row row">
                Grâce à notre conseillère Silya découvre une sélection de bijoux qui te correspondent parfaitement
              </div>
              <hr style="width: 80%">
              <div class="nav-row row">
                <div class="col-6" style="text-align: center">
                  <div style="margin-top: 80px">
                  Trouve le bijou parfait selon :
                  <ul class="list-conseil">
                    <li>
                      <span>Ta morphologie</span>
                    </li>
                    <li>
                      <span>Ton style</span>
                    </li>
                    <li>
                      <span>L'occasion</span>
                    </li>
                  </ul>
                    <a routerLink="/silya">
                      <button class="btn btn-lg btn-outline-warning" style="margin-top: 20px;">Découvrir Silya !</button>
                    </a>
                    </div>
                </div>
                <div class="col-6">
                  <img class="img-nav drop-shadow" style="width: 250px" src="assets/Silya.png">
                </div>
              </div>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" id="navbarDropdownSelection" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Sélections
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownSelection" style="left: -260px;">
              <div class="nav-row row">
                <div class="col-6">
                  <a class="dropdown-header">Les sélections du moment</a>
                  <a class="dropdown-item" routerLink="/bijouterie/selection/bagues">Bagues</a>
                  <a class="dropdown-item" routerLink="/bijouterie/selection/colliers">Colliers</a>
                  <a class="dropdown-item" routerLink="/bijouterie/selection/boucle_doreille">Boucles d'oreilles</a>
                  <a class="dropdown-item" routerLink="/bijouterie/selection/bracelets">Bracelets</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-header">Par marque</a>
                  <a class="dropdown-item" routerLink="/bijouterie/marque/swarovski">Swarovski</a>
                  <a class="dropdown-item" routerLink="/bijouterie/marque/forzieri">Forzieri</a>
                  <a class="dropdown-item" routerLink="/bijouterie/marque/stylebop">Stylebop</a>
                  <a class="dropdown-item" routerLink="/bijouterie/marque/histoire_dor">Histoire d'Or</a>
                  <a class="dropdown-item" routerLink="/bijouterie/marque/rosefield">Rosefield</a>
                </div>
                <div class="col-6">
                  <img class="img-nav" src="assets/menu-3.jpg" style="margin-top: -5px">
                </div>
              </div>
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/partenaires">Nos partenaires</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <router-outlet></router-outlet>

  <hr>

  <div id="footer">


    <div class="flex-container">
      <div style="color: coral; font-size: 18px; margin-top: 32px;">
        Nos partenaires :
    </div>
      <div class="marque">
        <img src="assets/logo_swarovski.png" alt="Swarovski"><br>
        <a routerLink="/bijouterie/marque/swarovski">
          <button class="btn btn-sm btn-outline-success" style="margin-top: 5px;">Voir la sélection</button>
        </a>
      </div>
      <div class="marque">
        <img src="assets/logo_forzieri.png" alt="Forzieri"><br>
        <a routerLink="/bijouterie/marque/forzieri">
          <button class="btn btn-sm btn-outline-warning">Voir la sélection</button>
        </a>
      </div>
      <div class="marque">
        <img src="assets/logo_histoire_dor.png" alt="Histoire d'Or"><br>
        <a routerLink="/bijouterie/marque/histoire_dor">
          <button class="btn btn-sm btn-outline-success">Voir la sélection</button>
        </a>
      </div>
      <div class="marque">
        <img src="assets/logo_stylebop.png" alt="Stylebop"><br>
        <a routerLink="/bijouterie/marque/stylebop">
          <button class="btn btn-sm btn-outline-warning">Voir la sélection</button>
        </a>
      </div>
      <div class="marque">
        <img src="assets/logo_rosefield.png" alt="Rosefield"><br>
        <a routerLink="bijouterie/marque/rosefield">
          <button class="btn btn-sm btn-outline-success">Voir la sélection</button>
        </a>
      </div>
    </div>
    © 2017 Silya - Mentions Légales<br>
    <a href="http://www.freepik.com">Vector Designs created by Freepik</a>
  </div>

</div>

