#container {
  width: 80%;
}

#logo-container {
  margin-top: 15px;
  margin-bottom: 20px;
  text-align: center;
}

#logo-container img {
  height: 60px;
}

#navbar {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  font-size: 20px;
  background-image: linear-gradient(90deg, #ffe8e0, #ffeee8);
}

.navbar-nav{
  width: 100%;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
}

.nav-item {
  margin: auto;
}

.dropdown-menu {
  padding-right: 30px;
}

.nav-row {
  width: 600px;
}

#vp-silya {
  text-align: center;
  margin-top: 15px;
  margin-left: 20px;
  font-size: 21px;
  font-weight: bold;
}

.dropdown-header {
  color: coral !important;
  font-weight: bold;
  font-size: 18px;
}

.img-nav {
  width: 300px;
  position: relative;
  margin-bottom: -8px;
}

.list-conseil li {
  list-style: none;
}

.list-conseil li span {
  display: inline-block;
  width: 110px;
}

.list-conseil li:before {
  font-family: 'FontAwesome';
  content: '\f00c';
  margin:0 5px 0 -15px;
  color: coral;
  list-style: none;
}

#footer {
  text-align: center;
  padding: 20px 20px 50px;
  background-image: linear-gradient(white, #f5f9fa);
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin-bottom: 50px;
}

.marque {
  background-image: linear-gradient(white, #f5f9fa);
  width: 155px;
  padding: 10px;
  margin: auto;
  text-align: center;

  border: 1px solid #cbcbcb;
  border-radius: 15px;
}

.marque img {
  height: 30px;
}

.marque button {
  margin-top: 8px;
}
