#float-footer {
  position: absolute;
  top: 1000px;
  background: url("/assets/back_silya2.png") top;
  background-size: cover;

  height: 150px;
  width: 100%;
  padding: 40px 0 80px;
  text-align: center;
}
