<div id="vp" class="align-center" style="padding-top: 40px; margin-bottom: 80px">
  <div style="margin-right: 70px">
    <img class="drop-shadow" src="assets/Silya.png" aria-hidden="true">
  </div>
  <div>
    <p id="titre2">Pour découvrir ta sélection personnalisée, c'est très simple !</p>
    <p id="sous-titre" style="text-align: left">
      1 - Active les filtres que tu souhaite en cliquant sur "Activer ce filtre"<br>
      2 - Complète les questions posées pour chaque filtre<br>
      3 - Accede à ta sélection en cliquant sur "Voir ma sélection"
    </p>
  </div>
</div>



<app-filtre id="stop-scroll" [parent]="this" [key]="'morphologie'"></app-filtre>
<app-filtre [parent]="this" [key]="'style'"></app-filtre>
<app-filtre [parent]="this" [key]="'occasion'"></app-filtre>
<app-filtre [parent]="this" [key]="'tenue'"></app-filtre>

<div style="margin-bottom: 200px"></div>

<div id="float-footer">
  <a routerLink="/selection/silya"><button class="btn btn-lg btn-outline-success">Voir ma sélection</button></a>
</div>
