/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'LKK'; /*a name to be used later*/
  src: url('/assets/LKK.otf'); /*URL to font*/
  font-weight: normal;
}
@font-face {
  font-family: 'LKK'; /*a name to be used later*/
  src: url('/assets/LKK-M.otf'); /*URL to font*/
  font-weight: bold;
}

body {
  font-family: LKK,Open Sans,sans-serif;
}

a, a:hover, a:visited, a:link, a:active {
  color: inherit;
  text-decoration: inherit;
}

button {
  cursor: pointer;
}

.box-shadow {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1)
}

.box-shadow-hover:hover{
  box-shadow: 0 2px 6px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.24);
}

.box-shadow-hover-plus:hover{
  box-shadow: 0 7px 14px rgba(0,0,0,0.12), 0 7px 14px rgba(0,0,0,0.24);
}

.drop-shadow {
  -webkit-filter: drop-shadow(0 1px 2px rgba(0,0,0,0.24));
  filter:         drop-shadow(0 1px 2px rgba(0,0,0,0.24));
}

.btn-warning {
  background-color: #ff8f66;
}

.btn-warning:hover {
  background-color: #ff7645;
}

.btn-outline-warning {
  color: coral;
  border-color: coral;
}

.btn-outline-warning:hover {
  background-color: #ff9f80;
  border-color: rgba(0,0,0,0);
}

.btn-outline-success:hover {
  background-color: #7ee67e;
  border-color: rgba(0,0,0,0);
}

.hidden {
 display: none;
}

.align-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-titre {
  width: 100%;
  text-align: center;
  font-size: 30px;
  color: coral;
}
