#cadre1 {
  background: url("/assets/texture1.png");
}

#cadre2 {
  background-image: url("/assets/texture2.png");
}

.cadre {
  display: flex;
  align-items: center;
  text-align: center;

  margin: 30px;
  height: 550px;
  padding: 50px;
}

.cadre-titre {
  font-size: 40px;
  font-weight: bold;
}

.cadre-text {
  font-size: 20px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin-bottom: 50px;
}

.marque {
  background-image: linear-gradient(white, #f5f9fa);
  width: 180px;
  padding: 15px;
  margin: auto;
  text-align: center;

  border: 1px solid #cbcbcb;
  border-radius: 15px;
}

.marque img {
  height: 40px;
}

.marque button {
  margin-top: 10px;
}
