
<hr style="width: 40%; margin: 5px auto">
<div class="section-titre">La bijouterie en ligne intelligente !</div>
<hr style="width: 60%; margin: 5px auto">

<div class="row">
  <div class="col-6">
    <div id="cadre1" class="cadre">
      <div>
        <span class="cadre-titre">La bijouterie</span>
        <hr style="width: 60%; margin-bottom: 20px;">
        <span class="cadre-text">Découvre la bijouterie Smart Gem où les <u>Bagues</u>, <u>Colliers</u>, <u>Boucles d'oreilles</u> et <u>Bracelets</u> de nos partenaires sont
        classés par <u>Style</u>, <u>Couleurs</u>, <u>Occasion</u> et <u>Taille</u> par notre intelligence artificielle Silya.</span><br>
        <a routerLink="/bijouterie">
          <button class="btn btn-lg btn-outline-success" style="margin-top: 30px;">Visiter la bijouterie</button>
        </a>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div id="cadre2" class="cadre">
      <div>
        <span class="cadre-titre">Conseillère intelligente</span>
        <hr style="width: 60%; margin-bottom: 20px;">
        <span class="cadre-text">Découvre les bijoux que notre conseillère intelligente <b>Silya</b> te proposera
          selon ta <u>Morphologie</u>, ton <u>Style</u> et l'<u>Occasion</u> où tu porteras ton bijou.</span><br>
        <a routerLink="/silya">
          <button class="btn btn-lg btn-outline-warning" style="margin-top: 30px;">Commencer l'expérience</button>
        </a>
      </div>
    </div>
  </div>
</div>


<hr style="width: 60%; margin: 5px auto">
<div class="section-titre">Nos partenaires</div>
<hr style="width: 40%; margin: 5px auto 30px">

<div class="flex-container">
  <div class="marque">
    <img src="assets/logo_swarovski.png" alt="Swarovski"><br>
    <a routerLink="/bijouterie/marque/swarovski">
      <button class="btn btn-sm btn-outline-success" style="margin-top: 5px;">Voir la sélection</button>
    </a>
  </div>
  <div class="marque">
    <img src="assets/logo_forzieri.png" alt="Forzieri"><br>
    <a routerLink="/bijouterie/marque/forzieri">
      <button class="btn btn-sm btn-outline-warning">Voir la sélection</button>
    </a>
  </div>
  <div class="marque">
    <img src="assets/logo_histoire_dor.png" alt="Histoire d'Or"><br>
    <a routerLink="/bijouterie/marque/histoire_dor">
      <button class="btn btn-sm btn-outline-success">Voir la sélection</button>
    </a>
  </div>
  <div class="marque">
    <img src="assets/logo_stylebop.png" alt="Stylebop"><br>
    <a routerLink="/bijouterie/marque/stylebop">
      <button class="btn btn-sm btn-outline-warning">Voir la sélection</button>
    </a>
  </div>
  <div class="marque">
    <img src="assets/logo_rosefield.png" alt="Rosefield"><br>
    <a routerLink="bijouterie/marque/rosefield">
      <button class="btn btn-sm btn-outline-success">Voir la sélection</button>
    </a>
  </div>
</div>


<hr style="width: 60%; margin: 5px auto">
<div class="section-titre">Les sélections du momant</div>
<hr style="width: 40%; margin: 5px auto 30px">


<app-selection></app-selection>
