
<hr style="width: 60%; margin: 5px auto">
<div class="section-titre">{{titre[key]}}</div>
<hr style="width: 40%; margin: 5px auto 30px">

<app-selector *ngFor="let question of questions" [parent]="this" [key]="question"></app-selector>
